body
  margin: 0 auto

.menu__list
  display: flex
  justify-content: space-around
  list-style: none

.menu__item

.kroko
  display: flex
  flex-direction: column
  justify-content: center

.word
  margin: 20px 10px
  display: block
  border: 1px solid black
  border-radius: 20px
  text-align: center
  padding: 20px 5px
  font-weight: 800
  font-size: 20px

.button
  margin-top: 20px
  padding: 20px
  display: block
  font-size: 15px
  text-align: center
  border: 1px solid black
  text-transform: uppercase
  background-color: darkcyan
  color: white